<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{../assets/images/favicon.ico}" />

    <link rel="stylesheet" type="text/css" th:href="@{../assets/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{../assets/css/font-awesome.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{../assets/css/Pe-icon-7-stroke.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{../assets/css/animate.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{../assets/css/swiper-bundle.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{../assets/css/nice-select.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{../assets/css/magnific-popup.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{../assets/css/ion.rangeSlider.min.css}" />

    <!-- Style CSS -->
    <link rel="stylesheet" th:href="@{../assets/css/style.css}">
</head>
<body>

<div class="container">

    <div class="row">
        <div class="col-lg-7">
            <form th:action="@{/items/new}" th:object="${form}" method="post" enctype="multipart/form-data">

                <div class="login-form">
                    <h4 class="login-title">new Item</h4>
                    <!--                                    login start-->
                    <div class="row">
                        <div class="col-lg-7">
                            <label>상품명</label>
                            <input type="text" th:field="*{name}" class="form-control">
                        </div>
                        <div class="col-lg-3">
                            <label>가격</label>
                            <input type="number" th:field="*{price}" class="form-control">
                            </div>
                        <div class="col-lg-3">
                            <label>경매 시작 가격</label>
                            <input type="number" th:field="*{startPrice}" class="form-control">
                        </div>
                        <div class="col-lg-3">
                            <label>경매 종료 가격</label>
                            <input type="number" th:field="*{endPrice}" class="form-control">
                        </div>
                        <div class="col-lg-3">
                            <label>최소 비딩 금액</label>
                            <input type="number" th:field="*{bidMinValue}" class="form-control">
                        </div>
                        <div class="col-lg-3">
                            <label>수량</label>
                            <input type="number" th:field="*{stockQuantity}" class="form-control">
                            </div>
                        <div class="col-lg-7">
                            <label>상세설명</label>
                            <input type="text" th:field="*{spec}" class="form-control">
                            </div>
                        <div class="col-md8-5">
                            <div class="form-check">
                                <label th:for="open" class="form-check-label">판매오픈</label>
                                <input type="checkbox" th:field="*{open}" class="form-check-input"></div>
                        </div>
                        <div class="col-md8-5">
                            <div class="form-check">
                                <label th:for="auction" class="form-check-label">경매등록</label>
                                <input type="checkbox" th:field="*{auction}" class="form-check-input"></div>
                        </div>
                        <ul CLASS="col-lg-9">
                            <li>이미지 파일들<input type="file" multiple="multiple"
                                              name="imageFiles" onchange="setThumbnail(event)"></li>
                            <div id="multiple-container" class="col-lg-9"></div>
                            <script> function setThumbnail(event) {
                                for (var image of event.target.files) {
                                    var reader = new FileReader();
                                    reader.onload = function (event) {
                                        var img = document.createElement("img");
                                        img.setAttribute("src", event.target.result);
                                        document.querySelector("div#multiple-container").appendChild(img);
                                    };
                                    console.log(image);
                                    reader.readAsDataURL(image);
                                }
                            } </script>
                        </ul>

                        <div class="col-lg-12 pt-5">
                            <button class="btn btn-custom-size lg-size btn-pronia-primary" type="submit">Submit</button>
                        </div>

                    </div>

                    <!--                                    login end-->
                </div>
            </form>
        </div> <!-- /container -->
    </div>
</div>
</body>
</html>