<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div>
        <span th:text="|${bids.get(0).item.id}, '상품의 입찰 내역 입니다.'|"></span>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>입찰번호</th>
                <th>입찰일시</th>
                <th>입찰가격</th>
                <th>입찰자</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="bid : ${bids}">
                <td th:text="${bid.bidNo}"></td>
                <td th:text="${bid.bidDate}"></td>
                <td th:text="${bid.bidPrice}"></td>
                <td th:text="${bid.memberId}"></td>


            </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->
</body>
</html>