<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>입찰번호</th>
                <th>상품번호</th>
                <th>상품명</th>
                <th>경매시작가격</th>
                <th>경매현재가격</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="member : ${bids}">
                <td th:text="${member.bid.id}"></td>
                <td th:text="${member.id}"></td>
                <td th:text="${member.item.name}"></td>
                <td th:text="${member.item.startPrice}"></td>
                <td th:text="${member.currentPrice}"></td>


            </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->
</body>
</html>